.modalBox {
	position: absolute;
	z-index: 10;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

.spinnerBox {
	position: absolute;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

.modalBg {
	background-color: #ffffff99;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
}

.modalBox .modalBg {
	z-index: 9;
}

.spinnerBox .modalBg {
	z-index: 90;
}

.genSelectBox {
	border: 1px solid black;
	border-radius: 3em;
	margin: 10em;
	padding: 2.5em;
	position: relative;
	z-index: 10;
}

.inactive {
	filter: grayscale(100%);
}

.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 120px;
	height: 120px;
	margin:-60px 0 0 -60px;
	-webkit-animation:spin 4s linear infinite;
	-moz-animation:spin 4s linear infinite;
	animation:spin 4s linear infinite;
	z-index: inherit;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }